[Desktop Entry]
Categories=X-lernstick;
Exec=pkexec lernstickWelcome
Icon=dialog-information
Name=Welcome to Lernstick
Name[de]=Willkommen zum Lernstick
Name[fr]=Bienvenue. Lernstick!
StartupNotify=true
StartupWMClass=ch-fhnw-lernstickwelcome-Welcome
Terminal=false
Type=Application
