[Desktop Entry]
Categories=X-lernstick;
Exec=pkexec lernstickWelcome
Icon=dialog-information
Name=Welcome to Lernstick
Name[de]=Willkommen beim Lernstick
Name[fr]=Bienvenue. Lernstick!
StartupNotify=true
StartupWMClass=ch.fhnw.lernstickwelcome.controller.WelcomeApplication
Terminal=false
Type=Application
