[Desktop Entry]
Categories=X-lernstick;
Exec=su-to-root -X -c lernstickWelcome
Icon=dialog-information
Name=Welcome to Lernstick
Name[de]=Willkommen zum Lernstick
Name[fr]=Bienvenue. Lernstick!
StartupNotify=true
StartupWMClass=sun-awt-X11-XFramePeer
Terminal=false
Type=Application
