[Desktop Entry]
Categories=X-lernstick;
Exec=java -Djava.library.path=/usr/lib/jni -Dawt.useSystemAAFontSettings=on -jar /usr/bin/lernstickWelcome.jar
Icon=dialog-information
Name=Welcome to lernstick
Name[de]=Willkommen zum lernstick
Name[fr]=Bienvenue. lernstick!
StartupNotify=true
StartupWMClass=sun-awt-X11-XFramePeer
Terminal=false
Type=Application
