Source: lernstickwelcome
Section: misc
Priority: extra
Maintainer: Ronny Standtke <ronny.standtke@gmx.net>
Build-Depends: debhelper, java-sdk, openjfx, junit4, gradle, dh-exec
Standards-Version: 3.8.0
Homepage: https://www.lernstick.ch

Package: lernstickwelcome
Architecture: all
Depends: auto-gdk-scale, java11-runtime, openjfx, libdbus-java, libmatthew-debug-java, libunixsocket-java, dosfstools, pkexec, pipx
Conflicts: lernstickwelcome-exam
Description: a welcome application for the Lernstick personal learning environment
 This is the "Welcome" application for the Lernstick personal learning environment
 and allows the installation of some additional applications and some customizations.

Package: lernstickwelcome-exam
Architecture: all
Depends: auto-gdk-scale, java11-runtime, openjfx, libdbus-java, libmatthew-debug-java, libunixsocket-java, dosfstools, pkexec
Conflicts: lernstickwelcome
Description: a welcome application for the Lernstick exam environment
 This is the "Welcome" application for the Lernstick exam environment and allows
 the configuration of the firewall settings and some customizations.
