
body{
    font-family: sans-serif;
}

h1{
    font-size: 24px;
    font-weight: 500;
    color: #222222;
}

a, a h2{
    font-size: 14px;
    color: darkcyan;
    text-decoration: none;
    font-weight: 500;
}
a:hover h2{
    color: captiontext;
}